button[type="submit"] {
  font-weight: 600;
  background-color: var(--clr-primary-600);
  color: var(--clr-white-100);
  border: none;
  width: 100%;
  padding: var(--size-100);
  border-radius: var(--size-radius);
  cursor: pointer;
}
