@use "../abstract/colors" as *;
@use "../abstract/sizes" as *;

form {
  display: grid;
  gap: var(--size-100);
  background-color: var(--clr-white-100);
  padding: 1rem;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
.form__label--radio {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: 0.1rem solid var(--clr-white-400);
  border-radius: var(--size-radius);
}

input[type="radio"] {
  appearance: none;

  border: 0.15rem solid var(--clr-white-200);
  transform: translateY(-0.075em);
  border-radius: 100vw;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-content: center;
  margin-block: revert;
  &:hover {
    border-color: var(--clr-white-300);
  }
  &:checked {
    border-color: var(--clr-primary-600);
    &:hover {
      border-color: var(--clr-primary-100);
    }
  }
}

input[type="radio"]::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100vw;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--clr-primary-600);
}

input[type="radio"]:checked:before {
  transform: scale(1);
}

input[type="radio"]:checked:hover:before {
  box-shadow: inset 1rem 1rem var(--clr-primary-100);
}

.form__label--radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form__item--radio {
  display: grid;
  gap: var(--size-100);
  & label:first-child {
    margin-block-end: calc(var(--size-100) * (-1));
  }
}

textarea {
  border: 0.1rem solid var(--clr-white-400);
  resize: vertical;
  padding: var(--size-100);
  width: 100%;
  min-height: var(--size-500);
  border-radius: var(--size-radius);
}

.form__item--inline {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
  appearance: none;
  border: 0.15rem solid var(--clr-white-200);
  width: 1.2rem;
  height: 1.2rem;

  &:hover {
    border-color: var(--clr-white-300);
  }
  &:checked {
    border-color: var(--clr-primary-600);
    &:hover {
      border-color: var(--clr-primary-100);
    }
  }
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--clr-primary-600);
}

input[type="checkbox"]:checked:before {
  transform: scale(1);
}

input[type="checkbox"]:checked:hover:before {
  box-shadow: inset 1rem 1rem var(--clr-primary-100);
}
